.login-wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    gap: 0.2rem;
    padding: 1rem;
}

.login-button {
    padding: 10px 0 10px 0;
    background-color: var(--button-face);
    color: var(--button-text);
    border-radius: 10px;
    border-color: var(--button-border);
    cursor: pointer;
    margin-bottom: 1rem;
}


.register-link {
    text-decoration: underline;
    text-align: center;
    cursor: pointer;
}