.desktop-menu-wrapper {
    display: flex;
    flex-direction: column;
    width: 5rem;
    height: 100vh;
    background-color: var(--bg);
    transition: width 0.17s ease;

}

.desktop-menu-wrapper:hover {
    width: 15rem;
}